
#theremincontrol {
    width: 900px;
    height:600px;
    background: repeating-linear-gradient(
        to right,
        aqua,
        aqua 26px,
        cadetBlue 26px,
        cadetBlue 52px
    );
}

#thereminPic {
    display:block;
    width: 900px;
}
