
#theremincontrol {
    width: 900px;
    height:600px;
    background: repeating-linear-gradient(
        to right,
        aqua,
        aqua 4%,
        cadetBlue 4%,
        cadetBlue 8%
    );
    position:relative;
}

#thereminPic {
    display:block;
    width: 900px;
}

#onButton {
    left:50.5%;
    width:2.2%;
    background: black;
    opacity: 0.7;
    height: 3%;
    position:absolute;
    bottom:5.1%;
    
}

body {
    margin: 0;
}